<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<filter>
		<filter-name>ExpiresFilter</filter-name>
		<filter-class>org.apache.catalina.filters.ExpiresFilter</filter-class>
		<init-param>
			<param-name>ExpiresByType image</param-name>
			<param-value>access plus 30 days</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType text/css</param-name>
			<param-value>access plus 30 days</param-value>
		</init-param>
		<init-param>
			<param-name>ExpiresByType application/javascript</param-name>
			<param-value>access plus 30 days</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>RepositoryFilter</filter-name>
		<filter-class>br.study.ebah.miguel.cdsCatalog.web.filter.RepositoryFilter</filter-class>
	</filter>

	<servlet>
		<servlet-name>cdsCatalog Controller Servlet</servlet-name>
		<servlet-class>br.study.ebah.miguel.cdsCatalog.web.controller.ControllerServlet</servlet-class>
	</servlet>

	<filter-mapping>
		<filter-name>ExpiresFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>RepositoryFilter</filter-name>
		<url-pattern>/cdsCatalog</url-pattern>
		<url-pattern>/cdsCatalog/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>cdsCatalog Controller Servlet</servlet-name>
		<url-pattern>/cdsCatalog</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>cdsCatalog</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/_static/error.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/_static/404.html</location>
	</error-page>


</web-app>
